<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/APP/update/{{movies.mid}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  

  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Movie Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="mname" id="id_mname" required maxlength="100" value="{{ movies.mname }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Movie Actor:</label>  
    <div class="col-sm-4">  
        <input type="text" name="mactor" id="id_mactor" required maxlength="254" value="{{ movies.mactor }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Movie Actress:</label>  
    <div class="col-sm-4">  
        <input type="text" name="mactress" id="id_mactress" required maxlength="15" value="{{ movies.mactress }}" />  
    </div>  
  </div>
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Movie Director:</label>  
    <div class="col-sm-4">  
        <input type="text" name="mdirector" id="id_mdirector" required maxlength="15" value="{{ movies.mdirector }}" />  
    </div>  
  </div>    
 <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Movie Summary:</label>  
    <div class="col-sm-4">  
        <input type="text" name="msummary" id="id_msummary" required maxlength="15" value="{{ movies.msummary }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  